
  <li>
    <%= menu.name %><span>  |  </span>
    <%= menu.cuisine %><span>  |  $</span>
    <%= menu.price %><span> |  </span>
    <%= link_to "Edit", edit_menu_path(menu.id)%>
    <%= link_to "Delete", menu_path(menu.id), method: :delete%>
  </li>
